@inherits LayoutComponentBase

<PageTitle>Farm Central</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="/help" target="_blank">Help</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
